#{$all-buttons} {

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: .18em solid $action-color;
  border-radius: $base-border-radius;
  cursor: pointer;
  display: inline-block;
  color: $action-color;
  text-transform: lowercase;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1.25 * $base-spacing;
  padding: 0 $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
    border-color: shade($action-color, 20%);
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
  &.block {
    display: block;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  &.primary {
    background-color: $light-green;
    color: white;
    border-color: $green;

    &:hover,
    &:focus {
      background-color: $green;
      color: #fff;
      border-color: shade($action-color, 10%);
    }
  }
  &.text {
    border-color: transparent;
    background-color: transparent;
    &:first-child {
      padding-left: 0;
      padding-right: 0;
      border-left-width: 0
    }
    &:hover,
    &:focus {
      border-color: transparent;
      background-color: transparent;
      color: shade($action-color, 20%);
    }
  }

}
