.container
  padding: 0 $small-spacing
  @media screen and (min-width: $medium-screen)
    padding: 0 $base-spacing
  margin: 0 auto
  max-width: $large-screen


.panel
  background-color: #fff
  padding: 2 * $base-spacing
  margin-top: $base-spacing
  margin-bottom: $base-spacing


.alert
  background-color: $green
  padding: $small-spacing
  color: white
  font-size: modular-scale(0)
  margin: $base-spacing 0
  a
    color: white
    border-bottom: 1px dashed white
