.masthead
  background-color: #fff
  line-height: 2 * $base-spacing
  .container
    display: flex
    flex-direction: row

  .site-title
    font-weight: 700
    text-transform: lowercase

    margin-right: $small-spacing
    @media screen and (min-width: $medium-screen)
      font-size: modular-scale(1)
      margin-right: $base-spacing
    @media screen and (min-width: $large-screen)
      margin-right: 2 * $base-spacing
    &:focus
      box-shadow: inset 0 0 0 4px $peach
  .site-navigation
    overflow: hidden
    text-transform: lowercase

    a
      display: inline-block
      -webkit-font-smoothing: antialiased
      font-weight: 700
      font-size: modular-scale(-1)
      @media screen and (min-width: $medium-screen)
        font-size: modular-scale(0)
      + a
        margin-right: $small-spacing
        @media screen and (min-width: $medium-screen)
          margin-right: $base-spacing
    &.right
      margin-left: auto


