@charset "UTF-8";

button,
.button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0.18em solid #79CDC8;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  color: #79CDC8;
  text-transform: lowercase;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.9375em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 2rem;
  padding: 0 1.6rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
[type='button']:hover,
[type='button']:focus,
[type='reset']:hover,
[type='reset']:focus,
[type='submit']:hover,
[type='submit']:focus {
  background-color: #61a4a0;
  color: #fff;
  border-color: #61a4a0;
}

button[disabled],
.button[disabled],
[type='button'][disabled],
[type='reset'][disabled],
[type='submit'][disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

button[disabled]:hover,
.button[disabled]:hover,
[type='button'][disabled]:hover,
[type='reset'][disabled]:hover,
[type='submit'][disabled]:hover {
  background-color: #79CDC8;
}

button.block,
.button.block,
[type='button'].block,
[type='reset'].block,
[type='submit'].block {
  display: block;
}

button.primary,
.button.primary,
[type='button'].primary,
[type='reset'].primary,
[type='submit'].primary {
  background-color: #79CDC8;
  color: white;
  border-color: #73c3be;
}

button.primary:hover,
button.primary:focus,
.button.primary:hover,
.button.primary:focus,
[type='button'].primary:hover,
[type='button'].primary:focus,
[type='reset'].primary:hover,
[type='reset'].primary:focus,
[type='submit'].primary:hover,
[type='submit'].primary:focus {
  background-color: #73c3be;
  color: #fff;
  border-color: #6db9b4;
}

button.text,
.button.text,
[type='button'].text,
[type='reset'].text,
[type='submit'].text {
  border-color: transparent;
  background-color: transparent;
}

button.text:first-child,
.button.text:first-child,
[type='button'].text:first-child,
[type='reset'].text:first-child,
[type='submit'].text:first-child {
  padding-left: 0;
  padding-right: 0;
  border-left-width: 0;
}

button.text:hover,
button.text:focus,
.button.text:hover,
.button.text:focus,
[type='button'].text:hover,
[type='button'].text:focus,
[type='reset'].text:hover,
[type='reset'].text:focus,
[type='submit'].text:hover,
[type='submit'].text:focus {
  border-color: transparent;
  background-color: transparent;
  color: #61a4a0;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.4rem;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

input,
select,
textarea {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.9375em;
}

[type='color'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
input:not([type]),
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #E2E2E1;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.8rem;
  padding: 0.53333333rem;
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  width: 100%;
}

[type='color']:hover,
[type='date']:hover,
[type='datetime']:hover,
[type='datetime-local']:hover,
[type='email']:hover,
[type='month']:hover,
[type='number']:hover,
[type='password']:hover,
[type='search']:hover,
[type='tel']:hover,
[type='text']:hover,
[type='time']:hover,
[type='url']:hover,
[type='week']:hover,
input:not([type]):hover,
textarea:hover {
  border-color: #b5b5b4;
}

[type='color']:focus,
[type='date']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='email']:focus,
[type='month']:focus,
[type='number']:focus,
[type='password']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='text']:focus,
[type='time']:focus,
[type='url']:focus,
[type='week']:focus,
input:not([type]):focus,
textarea:focus {
  border-color: #79CDC8;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(102, 198, 192, 0.7);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(102, 198, 192, 0.7);
  outline: none;
}

[type='color']:disabled,
[type='date']:disabled,
[type='datetime']:disabled,
[type='datetime-local']:disabled,
[type='email']:disabled,
[type='month']:disabled,
[type='number']:disabled,
[type='password']:disabled,
[type='search']:disabled,
[type='tel']:disabled,
[type='text']:disabled,
[type='time']:disabled,
[type='url']:disabled,
[type='week']:disabled,
input:not([type]):disabled,
textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

[type='color']:disabled:hover,
[type='date']:disabled:hover,
[type='datetime']:disabled:hover,
[type='datetime-local']:disabled:hover,
[type='email']:disabled:hover,
[type='month']:disabled:hover,
[type='number']:disabled:hover,
[type='password']:disabled:hover,
[type='search']:disabled:hover,
[type='tel']:disabled:hover,
[type='text']:disabled:hover,
[type='time']:disabled:hover,
[type='url']:disabled:hover,
[type='week']:disabled:hover,
input:not([type]):disabled:hover,
textarea:disabled:hover {
  border: 1px solid #E2E2E1;
}

[type='color']::-webkit-input-placeholder,
[type='date']::-webkit-input-placeholder,
[type='datetime']::-webkit-input-placeholder,
[type='datetime-local']::-webkit-input-placeholder,
[type='email']::-webkit-input-placeholder,
[type='month']::-webkit-input-placeholder,
[type='number']::-webkit-input-placeholder,
[type='password']::-webkit-input-placeholder,
[type='search']::-webkit-input-placeholder,
[type='tel']::-webkit-input-placeholder,
[type='text']::-webkit-input-placeholder,
[type='time']::-webkit-input-placeholder,
[type='url']::-webkit-input-placeholder,
[type='week']::-webkit-input-placeholder,
input:not([type])::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #969a9e;
}

[type='color']:-ms-input-placeholder,
[type='date']:-ms-input-placeholder,
[type='datetime']:-ms-input-placeholder,
[type='datetime-local']:-ms-input-placeholder,
[type='email']:-ms-input-placeholder,
[type='month']:-ms-input-placeholder,
[type='number']:-ms-input-placeholder,
[type='password']:-ms-input-placeholder,
[type='search']:-ms-input-placeholder,
[type='tel']:-ms-input-placeholder,
[type='text']:-ms-input-placeholder,
[type='time']:-ms-input-placeholder,
[type='url']:-ms-input-placeholder,
[type='week']:-ms-input-placeholder,
input:not([type]):-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #969a9e;
}

[type='color']::-ms-input-placeholder,
[type='date']::-ms-input-placeholder,
[type='datetime']::-ms-input-placeholder,
[type='datetime-local']::-ms-input-placeholder,
[type='email']::-ms-input-placeholder,
[type='month']::-ms-input-placeholder,
[type='number']::-ms-input-placeholder,
[type='password']::-ms-input-placeholder,
[type='search']::-ms-input-placeholder,
[type='tel']::-ms-input-placeholder,
[type='text']::-ms-input-placeholder,
[type='time']::-ms-input-placeholder,
[type='url']::-ms-input-placeholder,
[type='week']::-ms-input-placeholder,
input:not([type])::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #969a9e;
}

[type='color']::placeholder,
[type='date']::placeholder,
[type='datetime']::placeholder,
[type='datetime-local']::placeholder,
[type='email']::placeholder,
[type='month']::placeholder,
[type='number']::placeholder,
[type='password']::placeholder,
[type='search']::placeholder,
[type='tel']::placeholder,
[type='text']::placeholder,
[type='time']::placeholder,
[type='url']::placeholder,
[type='week']::placeholder,
input:not([type])::placeholder,
textarea::placeholder {
  color: #969a9e;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.4rem;
}

[type="file"] {
  margin-bottom: 0.8rem;
  width: 100%;
}

select {
  margin-bottom: 0.8rem;
  width: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #F2F4F4;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: 0.8rem 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #aaaaa9;
  font-weight: 600;
  padding: 0.8rem 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #E2E2E1;
  padding: 0.8rem 0;
}

tr,
td,
th {
  vertical-align: middle;
}

body {
  color: #50565E;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.9375em;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

::-moz-selection {
  color: white;
  background-color: #EDB569;
}

::selection {
  background-color: #EDB569;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.25em;
  line-height: 1.25;
  margin: 0 0 0.8rem;
}

.page-title {
  font-size: 1.953125em;
  color: #79CDC8;
}

@media screen and (min-width: 600px) {
  .page-title {
    font-size: 2.44140625em;
  }
}

.section-title {
  font-size: 1.5625em;
  color: #79CDC8;
}

.section-title br {
  display: none;
}

@media screen and (min-width: 600px) {
  .section-title {
    font-size: 1.953125em;
  }

  .section-title br {
    display: block;
  }
}

p {
  margin: 0 0 0.8rem;
}

a {
  color: #79CDC8;
  text-decoration: none;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}

a:active,
a:focus,
a:hover {
  color: #5b9a96;
}

a:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px #F5D0B7;
          box-shadow: 0 0 0 4px #F5D0B7;
}

hr {
  border-bottom: 1px solid #E2E2E1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.6rem 0;
}

.masthead {
  background-color: #fff;
  line-height: 1.6rem;
}

.masthead .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.masthead .site-title {
  font-weight: 700;
  text-transform: lowercase;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  margin-right: 0.8rem;
}

@media screen and (min-width: 600px) {
  .masthead .site-title {
    font-size: 1.25em;
    margin-right: 1.6rem;
  }
}

@media screen and (min-width: 960px) {
  .masthead .site-title {
    margin-right: 3.2rem;
  }
}

.masthead .site-title:focus {
  -webkit-box-shadow: 0 0 0 4px #F5D0B7;
          box-shadow: 0 0 0 4px #F5D0B7;
}

.masthead .site-navigation {
  text-transform: lowercase;
}

.masthead .site-navigation a,
.masthead .site-navigation button {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  font-size: 0.8em;
}

@media screen and (min-width: 600px) {
  .masthead .site-navigation a,
  .masthead .site-navigation button {
    font-size: 1em;
  }
}

.masthead .site-navigation a + a,
.masthead .site-navigation a + button,
.masthead .site-navigation button + a,
.masthead .site-navigation button + button {
  margin-right: 0.8rem;
}

@media screen and (min-width: 600px) {
  .masthead .site-navigation a + a,
  .masthead .site-navigation a + button,
  .masthead .site-navigation button + a,
  .masthead .site-navigation button + button {
    margin-right: 1.6rem;
  }
}

.masthead .site-navigation a.button,
.masthead .site-navigation button.button {
  margin-top: 0.4rem;
  margin-bottom: 0;
}

.masthead .site-navigation.right {
  margin-left: auto;
}

.masthead .site-navigation.right a + a,
.masthead .site-navigation.right a + button,
.masthead .site-navigation.right button + a,
.masthead .site-navigation.right button + button {
  margin-right: 0;
  margin-left: 0.8rem;
}

@media screen and (min-width: 600px) {
  .masthead .site-navigation.right a + a,
  .masthead .site-navigation.right a + button,
  .masthead .site-navigation.right button + a,
  .masthead .site-navigation.right button + button {
    margin-right: 0;
    margin-left: 1.6rem;
  }
}

.masthead .site-navigation .navigation-account {
  position: relative;
}

.masthead .site-navigation .navigation-account:hover .navigation-account-menu {
  display: block;
}

.masthead .site-navigation .navigation-account .avatar {
  width: 2.4rem;
  height: 2.4rem;
  margin-top: -0.2rem;
  margin-bottom: -0.2rem;
  float: left;
  border: 1px solid #E2E2E1;
  margin-right: 0.4rem;
  border-radius: 50%;
}

.masthead .site-navigation .navigation-account .navigation-account-menu {
  display: none;
  position: absolute;
  width: 200%;
  padding-top: 0.4rem;
  right: -0.8rem;
}

.masthead .site-navigation .navigation-account .navigation-account-menu > * {
  background-color: #fff;
  display: block;
}

.container {
  padding: 0 0.8rem;
  margin: 0 auto;
  max-width: 960px;
}

@media screen and (min-width: 600px) {
  .container {
    padding: 0 1.6rem;
  }
}

.panel {
  background-color: #fff;
  padding: 3.2rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.alert {
  background-color: #79CDC8;
  padding: 0.8rem;
  color: white;
  font-size: 1em;
  margin: 1.6rem 0;
}

.alert a {
  color: white;
  border-bottom: 1px dashed white;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-group label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  width: 30%;
  margin-right: 0.8rem;
}

.form-group .button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 37.5%;
          flex: 1 1 37.5%;
  width: 37.5%;
}

.form-group [type='color'],
.form-group [type='date'],
.form-group [type='datetime'],
.form-group [type='datetime-local'],
.form-group [type='email'],
.form-group [type='month'],
.form-group [type='number'],
.form-group [type='password'],
.form-group [type='search'],
.form-group [type='tel'],
.form-group [type='text'],
.form-group [type='time'],
.form-group [type='url'],
.form-group [type='week'],
.form-group input:not([type]),
.form-group textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 57.5%;
          flex: 1 1 57.5%;
  width: 57.5%;
}

.help-block {
  display: block;
  width: 100%;
  background-color: #EDB569;
  padding: 0.4rem 0.8rem;
  line-height: 1.25;
  border-radius: 3px;
  color: white;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.site-footer {
  background-color: #50565E;
  padding: 1.6rem;
  color: white;
  text-align: center;
}

.site-footer p:last-child {
  margin-bottom: 0;
}

.avatar {
  width: 4.8rem;
}

.avatar img {
  display: block;
  width: 100%;
  border-radius: 0.4rem;
}

.section--home-header {
  background-image: linear-gradient(-32deg, #F5D0B7 39%, #F2F4F4 39%);
}

.section--home-header .container {
  height: calc(100vh - 3.2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 600px) {
  .section--home-header .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.section--home-header .header-introduction {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-top: auto;
}

@media screen and (min-width: 600px) {
  .section--home-header .header-introduction {
    margin: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.section--home-header .header-introduction p:last-child {
  margin-bottom: 0;
}

.section--home-header .header-image {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  margin-top: auto;
}

@media screen and (min-width: 600px) {
  .section--home-header .header-image {
    margin: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding-left: 0.8rem;
  }
}

.section--home-header .header-image svg {
  display: block;
  margin: auto;
  height: 100%;
  width: 90%;
}

@media screen and (min-width: 600px) {
  .section--home-header .header-image svg {
    height: auto;
    width: 120%;
    max-width: 47vw;
  }
}

.section--home-header .button {
  margin-top: 0.8rem;
}

.section--home-header .button + .button {
  margin-left: 0.8rem;
}

.section--home-introduction .container {
  border-bottom: 1px dashed #E2E2E1;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section--home-introduction .container::after {
  clear: both;
  content: "";
  display: block;
}

.home-introduction--text {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
}

.home-introduction--image {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
  text-align: left;
}

.home-introduction--image img {
  display: block;
  width: 55%;
  margin: -3.2rem auto 0;
}

.section--home-quote .container {
  position: relative;
}

.section--home-quote .container::after {
  clear: both;
  content: "";
  display: block;
}

.home-quote--text {
  padding: 4.8rem 0;
  width: calc(83.33333333% - 36.66666667px);
  float: left;
  margin-left: 20px;
  color: #79CDC8;
  position: relative;
  z-index: 9;
}

@media screen and (min-width: 600px) {
  .home-quote--text {
    width: calc(66.66666667% - 33.33333333px);
    float: left;
    margin-left: 20px;
  }
}

.home-quote--text:last-child {
  text-align: right;
}

.home-quote--text .quote-body {
  font-size: 1.25em;
  margin-bottom: 0.8rem;
  font-weight: 700;
  line-height: 1.25;
}

@media screen and (min-width: 600px) {
  .home-quote--text .quote-body {
    font-size: 1.5625em;
  }
}

.home-quote--text .quote-body::before,
.home-quote--text .quote-body::after {
  opacity: .2;
  position: absolute;
  font-size: 2.44140625em;
  line-height: .85;
  display: inline-block;
}

.home-quote--text .quote-body::before {
  content: '\201C';
  right: 100%;
  margin-right: 0.4rem;
}

.home-quote--text .quote-body::after {
  content: '\201D';
  margin-left: 0.4rem;
}

.home-quote--clock {
  min-height: 1.6rem;
  width: calc(16.66666667% - 23.33333333px);
  float: left;
  margin-left: 20px;
}

@media screen and (min-width: 600px) {
  .home-quote--clock {
    width: calc(33.33333333% - 26.66666667px);
    float: left;
    margin-left: 20px;
  }
}

.home-quote--clock img {
  position: absolute;
  bottom: 0;
  width: auto;
  height: 102%;
  right: -15%;
  display: block;
}

@media screen and (min-width: 600px) {
  .home-quote--clock img {
    height: 107%;
    right: auto;
  }
}

.home-quote--megaphone {
  min-height: 1.6rem;
  width: calc(16.66666667% - 23.33333333px);
  float: left;
  margin-left: 20px;
}

@media screen and (min-width: 600px) {
  .home-quote--megaphone {
    width: calc(33.33333333% - 26.66666667px);
    float: left;
    margin-left: 20px;
  }
}

.home-quote--megaphone img {
  position: absolute;
  right: -7.5%;
  width: 50%;
  height: auto;
  top: 40%;
}

@media screen and (min-width: 600px) {
  .home-quote--megaphone img {
    height: 65%;
    top: 25%;
    right: -5%;
  }
}

@media screen and (min-width: 960px) {
  .home-quote--megaphone img {
    height: 100%;
    top: 10%;
    right: -10%;
  }
}

.section--home-stages {
  background-color: #333333;
  text-align: center;
  color: white;
}

.section--home-stages .section-subtitle {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.section--home-stages .stage-heading {
  font-size: 1.5625em;
}

.section--home-stages .container {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

.section--home-stages .stages-container::after {
  clear: both;
  content: "";
  display: block;
}

.section--home-stages .stages-container .stage-column {
  text-align: left;
  margin-top: 1.6rem;
}

.section--home-stages .stages-container .stage-column::after {
  clear: both;
  content: "";
  display: block;
}

@media screen and (min-width: 600px) {
  .section--home-stages .stages-container .stage-column {
    margin-top: 0;
    width: calc(33.33333333% - 26.66666667px);
    float: left;
    margin-left: 20px;
    text-align: center;
  }
}

.section--home-stages .stages-container .stage-column img {
  float: left;
  margin-right: 1.6rem;
}

@media screen and (min-width: 600px) {
  .section--home-stages .stages-container .stage-column img {
    margin: 3.2rem 0 0.8rem;
    float: none;
  }
}

.section--home-stages .stages-conclusion {
  margin: 3.2rem auto 0;
  padding: 1.6rem 3.2rem 0;
  border-top: 1px dashed #50565E;
}

.section--home-questions {
  background-color: white;
}

.section--home-questions .container {
  padding-top: 3.2rem;
}

.section--home-questions .container::after {
  clear: both;
  content: "";
  display: block;
}

.section--home-themes {
  background-color: #fff;
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

.section--home-themes .home-theme-title {
  margin-bottom: 0;
}

.section--home-themes .home-theme-date {
  color: #E2E2E1;
  margin-bottom: 0.8rem;
  font-size: 1.25em;
}

.section--home-themes .home-theme-item {
  counter-increment: theme;
  float: left;
  width: 20%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 0.8rem 0.8rem;
  border-left: 1px dashed #E2E2E1;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

@media screen and (min-width: 600px) {
  .section--home-themes .home-theme-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media screen and (min-width: 960px) {
  .section--home-themes .home-theme-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%;
    padding: 0.8rem 1.6rem;
  }
}

@media screen and (min-width: 1400px) {
  .section--home-themes .home-theme-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}

.section--home-themes .home-theme-item:first-child {
  border-left: none;
}

.section--home-themes .home-theme-item::before {
  content: counter(theme);
  display: block;
  font-size: 3.81469727em;
  color: #E2E2E1;
  line-height: 3.2rem;
  padding-top: 3.2rem;
  margin-bottom: 1.6rem;
  background-position: right bottom;
  background-size: 4rem auto;
  background-repeat: no-repeat;
}

.section--home-themes .home-theme-item--safety::before {
  background-image: url(/images/theme-safety.svg);
}

.section--home-themes .home-theme-item--infrastructure::before {
  background-image: url(/images/theme-infrastructure.svg);
}

.section--home-themes .home-theme-item--skills::before {
  background-image: url(/images/theme-skills.svg);
}

.section--home-themes .home-theme-item--security::before {
  background-image: url(/images/theme-security.svg);
}

.section--home-themes .home-theme-item--jobs::before {
  background-image: url(/images/theme-jobs.svg);
}

.section--home-themes .home-theme-item--government::before {
  background-image: url(/images/theme-government.svg);
}

.section--home-interviews .container {
  padding-top: 6.4rem;
}

.section--home-interviews .container::after {
  clear: both;
  content: "";
  display: block;
}

.section--home-interviews .home-interviews-scroller {
  padding-top: 1.6rem;
}

.section--home-interviews .home-interviews-scroller::before {
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(#F2F4F4));
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #F2F4F4);
}

.section--home-interviews .home-interviews-scroller::after {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#F2F4F4));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #F2F4F4);
}

.section--home-interviews .home-interviews-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-left: 0.8rem;
  border: 1px solid #E2E2E1;
  border-radius: 0.4rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 600px) {
  .section--home-interviews .home-interviews-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%;
    -ms-flex: 0 0 calc(50%);
        flex: 0 0 calc(50%);
  }
}

@media screen and (min-width: 960px) {
  .section--home-interviews .home-interviews-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%;
    -ms-flex: 0 0 calc(33.3% - 2.1328rem);
        flex: 0 0 calc(33.3% - 2.1328rem);
    margin-left: 1.6rem;
  }
}

@media screen and (max-width: 600px) {
  .section--home-interviews .home-interviews-item:first-child {
    margin-left: 0;
  }
}

.section--home-interviews .home-interviews-item:hover .home-interviews-image img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.section--home-interviews .home-interviews-item:hover .home-interviews-quote,
.section--home-interviews .home-interviews-item:hover .home-interviews-title {
  color: #F5D0B7;
}

.section--home-interviews .home-interviews-image {
  position: relative;
  display: block;
  overflow: hidden;
}

.section--home-interviews .home-interviews-image img {
  display: block;
  -webkit-transition: 450ms ease;
  transition: 450ms ease;
}

.section--home-interviews .home-interviews-image svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 4.8rem;
  -webkit-filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.7));
}

.section--home-interviews .home-interviews-title {
  font-size: 1em;
  text-align: right;
  font-weight: 400;
  margin-top: auto;
  padding: 0 2.4rem;
  line-height: 2.4rem;
  border-top: 1px dashed #E2E2E1;
  margin-bottom: 0;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.section--home-interviews .home-interviews-quote {
  margin: 1.2rem 2.4rem;
  font-size: 1.25em;
  font-weight: 700;
  color: #79CDC8;
  line-height: 1.25;
  position: relative;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.section--home-interviews .home-interviews-quote::before,
.section--home-interviews .home-interviews-quote::after {
  opacity: .2;
  position: absolute;
  font-size: 2.44140625em;
  line-height: .85;
  display: inline-block;
}

.section--home-interviews .home-interviews-quote::before {
  content: '\201C';
  right: 100%;
  margin-right: 0.4rem;
}

.section--home-interviews .home-interviews-quote::after {
  content: '\201D';
  margin-left: 0.4rem;
}

.container--comments {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.like-total {
  display: block;
  font-size: 2.44140625em;
  font-weight: 700;
  text-align: center;
  color: #E2E2E1;
}

.icon.like-icon {
  position: relative;
  cursor: default;
  width: 2.08rem;
  height: 2.08rem;
  border-radius: 50%;
  border: .1rem solid;
  display: inline-block;
  padding: 0.26666667rem;
}

.icon.like-icon svg {
  width: 100%;
  height: auto;
}

.icon.like-icon svg path {
  vector-effect: non-scaling-stroke;
  stroke: white;
}

.icon.like-icon.outline {
  background-color: transparent;
}

.icon.like-icon.outline svg path {
  fill: transparent;
}

.icon.like-icon.enabled {
  cursor: pointer;
}

.icon.like-icon.enabled:hover svg path {
  stroke: white;
}

.icon.like-icon.active svg path {
  stroke: white;
}

.like-icon.up {
  border-color: #79CDC8;
}

.like-icon.up svg path {
  stroke: #79CDC8;
}

.like-icon.up svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.like-icon.up.enabled:hover {
  background-color: #79CDC8;
}

.like-icon.up + span {
  color: #79CDC8;
}

.like-icon.up.active {
  background-color: #79CDC8;
}

.like-icon.down {
  border-color: #F5D0B7;
}

.like-icon.down svg path {
  stroke: #F5D0B7;
}

.like-icon.down.enabled:hover {
  background-color: #F5D0B7;
}

.like-icon.down + span {
  color: #F5D0B7;
}

.like-icon.down.active {
  background-color: #F5D0B7;
}

.comment-container .comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
}

.comment-container .comment-form .avatar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}

.comment-container .comment-form textarea {
  min-height: 4.8rem;
  font-size: 1.25em;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  margin-bottom: 0;
}

.comment-container .comment-new {
  -webkit-animation: newComment 4s forwards;
  animation: newComment 4s forwards;
}

@-webkit-keyframes newComment {
  0% {
    background-color: #fff;
  }

  100% {
    background-color: transparent;
  }
}

@keyframes newComment {
  0% {
    background-color: #fff;
  }

  100% {
    background-color: transparent;
  }
}

.comment-container .comment {
  margin: 1.6rem 0;
  padding: 0.8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
}

.comment-container .comment .comments {
  padding-left: 3.2rem;
  margin-left: -3.2rem;
  border-left: 1px dashed #E2E2E1;
}

.comment-container .comment .comments:empty {
  display: none;
}

.comment-container .comment .content .avatar {
  width: 4rem;
}

.comment-container .comment .content .comment-form textarea {
  min-height: 4rem;
}

.comment-container .content {
  margin-left: 0.8rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}

.comment-container .author {
  float: left;
  line-height: 1.6rem;
  font-size: 0.8em;
  font-weight: 700;
  color: #333333;
}

.comment-container .badge--admin {
  background-color: #EDB569;
  display: inline-block;
  color: white;
  line-height: 1.6rem;
  display: block;
  font-size: 0.8em;
  margin-top: 0.26666667rem;
  border-radius: 0.4rem;
  text-align: center;
}

.comment-container .metadata {
  float: left;
  margin-left: 0.4rem;
  font-size: 0.8em;
  color: #50565E;
  line-height: 1.6rem;
}

.comment-container .text {
  clear: left;
  margin: 0.8rem 0;
}

.comment-container .actions {
  overflow: hidden;
  float: right;
}

.comment-container .reply-button {
  float: left;
  line-height: 2.4rem;
  cursor: pointer;
}

.comment-container .like-container {
  float: left;
  margin-right: 0.8rem;
}

.comment-container .form {
  margin-top: 1.6rem;
}

.tab-image {
  margin-left: -1.6rem;
  width: 100%;
  margin-top: auto;
}

@media screen and (max-width: 600px) {
  .tab-image {
    display: none;
  }
}

.tabbed {
  padding-bottom: 1.6rem;
  margin-top: 3.2rem;
}

@media screen and (min-width: 600px) {
  .tabbed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 600px) {
  .tabs {
    margin-right: 3.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

[role="tablist"] {
  padding: 0;
}

@media screen and (min-width: 600px) {
  [role="tablist"] {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
}

[role="tablist"] li,
[role="tablist"] a {
  display: inline-block;
}

[role="tablist"] [aria-selected] {
  position: relative;
}

@media screen and (min-width: 600px) {
  [role="tablist"] [aria-selected]::after {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 100%;
    border-radius: 50%;
    border: 2px solid #E2E2E1;
    content: '';
    background: #F5D0B7;
    padding: 3px;
    background-clip: content-box;
    display: inline-block;
    top: 50%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }

  [role="tablist"] [aria-selected]::before {
    content: '';
    position: absolute;
    display: block;
    left: 100%;
    width: 100%;
    height: 2px;
    top: 50%;
    border-top: 1px dashed #E2E2E1;
  }
}

[role="tablist"] a {
  text-decoration: none;
  padding: 0.8rem 1.6rem;
}

@media screen and (min-width: 600px) {
  [role="tablist"] a {
    padding: 1rem 3rem 1rem 0;
  }
}

@media screen and (min-width: 960px) {
  [role="tablist"] a {
    font-size: 1.25em;
  }
}

[role="tablist"] [aria-selected] {
  color: #F5D0B7;
  font-weight: 700;
  border-right: 0;
  position: relative;
}

[role="tabpanel"] {
  border: 1px dashed #E2E2E1;
  padding: 1.6rem;
  z-index: 99;
  position: relative;
  background-color: white;
}

@media screen and (min-width: 600px) {
  [role="tabpanel"] {
    padding: 3.2rem 1.6rem;
  }
}

[role="tabpanel"] * + * {
  margin-top: 0.75rem;
}

*:focus {
  outline: none;
}

@media (max-width: 600px) {
  [role="tablist"] li,
  [role="tablist"] a {
    display: block;
    position: static;
  }

  [role="tablist"] a {
    border: 1px dashed #E2E2E1 !important;
  }

  [role="tablist"] li + li a {
    border-top: 0 !important;
  }

  [role="tablist"] [aria-selected] {
    position: static;
  }

  [role="tablist"] [aria-selected]::after {
    content: ' \2B05';
  }

  [role="tabpanel"] {
    border-top: 0;
  }
}

.scroller-navigation button {
  position: absolute;
  top: 50%;
  border: none;
  background-color: #79CDC8;
  line-height: 1;
  left: -1.6rem;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 999;
  text-indent: -9999px;
  text-align: center;
  outline: none !important;
  -webkit-transition: opacity 600ms ease;
  transition: opacity 600ms ease;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

@media screen and (min-width: 600px) {
  .scroller-navigation button {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.scroller-navigation button[tabindex="-1"] {
  opacity: 0.25;
  pointer-events: none;
}

.scroller-navigation button:focus {
  -webkit-box-shadow: 0 0 0 4px #F5D0B7;
          box-shadow: 0 0 0 4px #F5D0B7;
}

.scroller-navigation button::after {
  content: '';
  text-indent: 0;
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0;
  border: 0.53333333rem solid transparent;
  border-left-width: 0;
  border-right-color: white;
  border-right-width: 0.8rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transform: translate(-60%, -40%);
          transform: translate(-60%, -40%);
}

.scroller-navigation .scroller-next {
  left: auto;
  right: -1.6rem;
}

.scroller-navigation .scroller-next::after {
  border-right-color: transparent;
  border-right-width: 0.53333333rem;
  border-right-width: 0;
  border-left-color: white;
  border-left-width: 0.8rem;
  -webkit-transform: translate(-40%, -40%);
          transform: translate(-40%, -40%);
}

.scroller-outer {
  position: relative;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

@media screen and (min-width: 960px) {
  .scroller-outer {
    margin-left: -3.2rem;
    margin-right: -3.2rem;
  }
}

.scroller-outer::before,
.scroller-outer::after {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 99;
  top: 0;
  left: 0;
  width: 1.6rem;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

@media screen and (min-width: 600px) {
  .scroller-outer::before,
  .scroller-outer::after {
    width: 3.2rem;
  }
}

@media screen and (min-width: 960px) {
  .scroller-outer::before,
  .scroller-outer::after {
    width: 4.8rem;
  }
}

.scroller-outer::after {
  right: 0;
  left: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.scroller-inner {
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  counter-reset: theme;
  cursor: -webkit-grab;
  cursor: grab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scroller-inner.grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.scroller-inner::-webkit-scrollbar {
  height: 0;
}

.article-content {
  background-color: #fff;
  padding: 8rem 9.6rem;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.article-title {
  font-size: 3.05175781em;
  color: #79CDC8;
}

.article-header {
  margin-bottom: 3.2rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px dashed #E2E2E1;
}

.article-body p:first-child {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.article-comments {
  margin-top: 4.8rem;
  border-top: 1px dashed #E2E2E1;
  padding-top: 1.6rem;
}

.theme-header {
  background-color: #50565E;
  background-image: radial-gradient(circle at center, #50565E 0%, #333333);
  color: white;
  margin-bottom: 1.6rem;
}

.container--theme {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-title {
  font-size: 2.44140625em;
  color: #F5D0B7;
}

.theme-date {
  font-size: 1.25em;
  color: #E2E2E1;
  margin-bottom: 0.8rem;
}

.theme-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  margin-right: 3.2rem;
  margin-left: 4.8rem;
}

.theme-summary {
  margin-right: 4.8rem;
}

.theme-description {
  font-size: 1.25em;
}

.button + .button {
  margin-left: 0.8rem;
}

.container--login {
  height: calc(100vh - 8rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.panel--login {
  background: linear-gradient(-45deg, #F5D0B7 30%, white 30%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column--sign-in {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.column--sign-up {
  text-align: center;
  margin-left: 6.4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  background-color: white;
  padding: 4.8rem 3.2rem;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 15px 60px rgba(50, 50, 50, 0.25);
          box-shadow: 0 15px 60px rgba(50, 50, 50, 0.25);
}

.column--sign-up .button {
  margin-top: 0.8rem;
}

.panel-heading {
  font-size: 1.953125em;
  margin-bottom: 3.2rem;
}

.login-form {
  margin: 1.6rem 0;
}

.login-terms {
  font-size: 0.8em;
  margin-bottom: -2.4rem;
  color: #50565E;
  margin-top: 2.4rem;
  padding-top: 0.8rem;
  border-top: 1px dashed #E2E2E1;
}

.form-group--social {
  margin: 3.2rem 0;
}

.button--facebook {
  background-color: #3b5998;
  color: white;
  border-color: #355089;
}

.button--facebook:hover {
  background-color: #355089;
  border-color: #2f477a;
}

.button--twitter {
  background-color: #1da1f2;
  color: white;
  border-color: #1c99e6;
}

.button--twitter:hover {
  background-color: #1c99e6;
  border-color: #1a91da;
}

.form-group--remember {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0.8rem;
}

.form-group--remember label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 0.8em;
  color: #50565E;
}

.button--submit {
  margin-left: auto;
}

.container--ideas {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

/*** Idea card ***/

.card-list {
  margin-top: 3.2rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem;
  border-radius: 0.4rem;
  margin: 1.6rem auto;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 50px rgba(50, 50, 50, 0.15);
          box-shadow: 0 10px 50px rgba(50, 50, 50, 0.15);
}

.card-avatar {
  width: 6.4rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.card-body {
  padding: 0.8rem 1.6rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.card-meta {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0.8rem 1.6rem;
}

.card-meta .laravel-like {
  margin-bottom: 0.4rem;
}

.card-comments {
  text-align: center;
}

.card-title {
  font-size: 1.5625em;
  margin-bottom: 0;
}

/*** Idea form ***/

.container--add {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

.idea-form {
  background: linear-gradient(-45deg, #F5D0B7 30%, white 30%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.idea-form form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.idea-form .ideas-guidelines {
  text-align: center;
  margin-left: 4.8rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  background-color: white;
  padding: 4.8rem 3.2rem;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0px 15px 60px rgba(50, 50, 50, 0.25);
          box-shadow: 0px 15px 60px rgba(50, 50, 50, 0.25);
}

.idea-form .ideas-guidelines p {
  font-size: 0.8em;
}

/*** Idea page ***/

.idea-header {
  background-color: #50565E;
  background-image: radial-gradient(circle at center, #50565E 0%, #333333);
  color: white;
  margin-bottom: 1.6rem;
}

.container--idea {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.idea-title {
  font-size: 2.44140625em;
  color: #F5D0B7;
}

.interview-likes {
  float: right;
  position: relative;
  z-index: 99;
  padding-left: 3.2rem;
  margin-top: 1.6rem;
}

.interview-likes .like-icon {
  height: 3.2rem;
  width: 3.2rem;
  padding: 0.53333333rem;
}

.interview-likes .like-icon.down {
  margin-left: 0.53333333rem;
}

.interview-likes span {
  line-height: 3.2rem;
  vertical-align: top;
  font-size: 1.25em;
}

.interview-header {
  background-image: radial-gradient(circle at center, #50565E 0%, #333333);
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  padding-bottom-color: white;
  padding-bottom-margin-bottom: 1.6rem;
  padding-bottom-background-color: #50565E;
}

.interview-content {
  width: 100%;
}

.interview-video {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.interview-video iframe,
.interview-video object {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.interview-quote {
  margin: 1.2rem 0;
  font-size: 2.44140625em;
  font-weight: 700;
  color: #79CDC8;
  line-height: 1.25;
  position: relative;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.interview-quote::before,
.interview-quote::after {
  opacity: .2;
  position: absolute;
  font-size: 2.44140625em;
  line-height: .85;
  display: inline-block;
}

.interview-quote::before {
  content: '\201C';
  right: 100%;
  margin-right: 0.4rem;
}

.interview-quote::after {
  content: '\201D';
  margin-left: 0.4rem;
}

.interview-likes {
  float: right;
  position: relative;
  z-index: 99;
  padding-left: 3.2rem;
  margin-top: 1.6rem;
}

.interview-likes .like-icon {
  height: 3.2rem;
  width: 3.2rem;
  padding: 0.53333333rem;
}

.interview-likes .like-icon.down {
  margin-left: 0.53333333rem;
}

.interview-likes span {
  line-height: 3.2rem;
  vertical-align: top;
  font-size: 1.25em;
}

