@charset "UTF-8";

button,
.button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0.18em solid #79CDC8;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.9375em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 2rem;
  padding: 0 1.6rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
[type='button']:hover,
[type='button']:focus,
[type='reset']:hover,
[type='reset']:focus,
[type='submit']:hover,
[type='submit']:focus {
  background-color: #61a4a0;
  color: #fff;
  border-color: #61a4a0;
}

button:disabled,
.button:disabled,
[type='button']:disabled,
[type='reset']:disabled,
[type='submit']:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:disabled:hover,
.button:disabled:hover,
[type='button']:disabled:hover,
[type='reset']:disabled:hover,
[type='submit']:disabled:hover {
  background-color: #79CDC8;
}

button.primary,
.button.primary,
[type='button'].primary,
[type='reset'].primary,
[type='submit'].primary {
  background-color: #79CDC8;
  color: white;
}

button.primary:hover,
button.primary:focus,
.button.primary:hover,
.button.primary:focus,
[type='button'].primary:hover,
[type='button'].primary:focus,
[type='reset'].primary:hover,
[type='reset'].primary:focus,
[type='submit'].primary:hover,
[type='submit'].primary:focus {
  background-color: #61a4a0;
  color: #fff;
  border-color: #61a4a0;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.4rem;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

input,
select,
textarea {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.9375em;
}

[type='color'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
input:not([type]),
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #E2E2E1;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.8rem;
  padding: 0.53333333rem;
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  width: 100%;
}

[type='color']:hover,
[type='date']:hover,
[type='datetime']:hover,
[type='datetime-local']:hover,
[type='email']:hover,
[type='month']:hover,
[type='number']:hover,
[type='password']:hover,
[type='search']:hover,
[type='tel']:hover,
[type='text']:hover,
[type='time']:hover,
[type='url']:hover,
[type='week']:hover,
input:not([type]):hover,
textarea:hover {
  border-color: #b5b5b4;
}

[type='color']:focus,
[type='date']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='email']:focus,
[type='month']:focus,
[type='number']:focus,
[type='password']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='text']:focus,
[type='time']:focus,
[type='url']:focus,
[type='week']:focus,
input:not([type]):focus,
textarea:focus {
  border-color: #79CDC8;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(102, 198, 192, 0.7);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(102, 198, 192, 0.7);
  outline: none;
}

[type='color']:disabled,
[type='date']:disabled,
[type='datetime']:disabled,
[type='datetime-local']:disabled,
[type='email']:disabled,
[type='month']:disabled,
[type='number']:disabled,
[type='password']:disabled,
[type='search']:disabled,
[type='tel']:disabled,
[type='text']:disabled,
[type='time']:disabled,
[type='url']:disabled,
[type='week']:disabled,
input:not([type]):disabled,
textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

[type='color']:disabled:hover,
[type='date']:disabled:hover,
[type='datetime']:disabled:hover,
[type='datetime-local']:disabled:hover,
[type='email']:disabled:hover,
[type='month']:disabled:hover,
[type='number']:disabled:hover,
[type='password']:disabled:hover,
[type='search']:disabled:hover,
[type='tel']:disabled:hover,
[type='text']:disabled:hover,
[type='time']:disabled:hover,
[type='url']:disabled:hover,
[type='week']:disabled:hover,
input:not([type]):disabled:hover,
textarea:disabled:hover {
  border: 1px solid #E2E2E1;
}

[type='color']::-webkit-input-placeholder,
[type='date']::-webkit-input-placeholder,
[type='datetime']::-webkit-input-placeholder,
[type='datetime-local']::-webkit-input-placeholder,
[type='email']::-webkit-input-placeholder,
[type='month']::-webkit-input-placeholder,
[type='number']::-webkit-input-placeholder,
[type='password']::-webkit-input-placeholder,
[type='search']::-webkit-input-placeholder,
[type='tel']::-webkit-input-placeholder,
[type='text']::-webkit-input-placeholder,
[type='time']::-webkit-input-placeholder,
[type='url']::-webkit-input-placeholder,
[type='week']::-webkit-input-placeholder,
input:not([type])::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #969a9e;
}

[type='color']:-ms-input-placeholder,
[type='date']:-ms-input-placeholder,
[type='datetime']:-ms-input-placeholder,
[type='datetime-local']:-ms-input-placeholder,
[type='email']:-ms-input-placeholder,
[type='month']:-ms-input-placeholder,
[type='number']:-ms-input-placeholder,
[type='password']:-ms-input-placeholder,
[type='search']:-ms-input-placeholder,
[type='tel']:-ms-input-placeholder,
[type='text']:-ms-input-placeholder,
[type='time']:-ms-input-placeholder,
[type='url']:-ms-input-placeholder,
[type='week']:-ms-input-placeholder,
input:not([type]):-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #969a9e;
}

[type='color']::-ms-input-placeholder,
[type='date']::-ms-input-placeholder,
[type='datetime']::-ms-input-placeholder,
[type='datetime-local']::-ms-input-placeholder,
[type='email']::-ms-input-placeholder,
[type='month']::-ms-input-placeholder,
[type='number']::-ms-input-placeholder,
[type='password']::-ms-input-placeholder,
[type='search']::-ms-input-placeholder,
[type='tel']::-ms-input-placeholder,
[type='text']::-ms-input-placeholder,
[type='time']::-ms-input-placeholder,
[type='url']::-ms-input-placeholder,
[type='week']::-ms-input-placeholder,
input:not([type])::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #969a9e;
}

[type='color']::placeholder,
[type='date']::placeholder,
[type='datetime']::placeholder,
[type='datetime-local']::placeholder,
[type='email']::placeholder,
[type='month']::placeholder,
[type='number']::placeholder,
[type='password']::placeholder,
[type='search']::placeholder,
[type='tel']::placeholder,
[type='text']::placeholder,
[type='time']::placeholder,
[type='url']::placeholder,
[type='week']::placeholder,
input:not([type])::placeholder,
textarea::placeholder {
  color: #969a9e;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.4rem;
}

[type="file"] {
  margin-bottom: 0.8rem;
  width: 100%;
}

select {
  margin-bottom: 0.8rem;
  width: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F2F4F4;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: 0.8rem 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #aaaaa9;
  font-weight: 600;
  padding: 0.8rem 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #E2E2E1;
  padding: 0.8rem 0;
}

tr,
td,
th {
  vertical-align: middle;
}

body {
  color: #50565E;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.9375em;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.25em;
  line-height: 1.25;
  margin: 0 0 0.8rem;
}

.page-title {
  font-size: 2.44140625em;
  color: #79CDC8;
}

.section-title {
  font-size: 1.953125em;
  color: #79CDC8;
}

p {
  margin: 0 0 0.8rem;
}

a {
  color: #79CDC8;
  text-decoration: none;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}

a:active,
a:focus,
a:hover {
  color: #5b9a96;
}

hr {
  border-bottom: 1px solid #E2E2E1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.6rem 0;
}

.masthead {
  background-color: #fff;
  line-height: 3.2rem;
}

.masthead .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.masthead .site-title {
  font-weight: 700;
  text-transform: lowercase;
  font-size: 1.25em;
  margin-right: 3.2rem;
}

.masthead .site-navigation {
  overflow: hidden;
  text-transform: lowercase;
}

.masthead .site-navigation a {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
}

.masthead .site-navigation a + a {
  margin-right: 1.6rem;
}

.masthead .site-navigation.right {
  margin-left: auto;
}

.container {
  padding: 0 1.6rem;
  margin: 0 auto;
  max-width: 960px;
}

.site-footer {
  background-color: #50565E;
  padding: 1.6rem;
  color: white;
  text-align: center;
}

.site-footer p:last-child {
  margin-bottom: 0;
}

.section--home-header {
  background-image: linear-gradient(-30deg, #F5D0B7 38%, #F2F4F4 38%);
}

.section--home-header .container {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section--home-header .header-introduction {
  margin: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

.section--home-header .header-introduction p:last-child {
  margin-bottom: 0;
}

.section--home-header .header-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  padding-left: 6.4rem;
}

.section--home-header .header-image img {
  display: block;
  margin: auto;
  margin-top: -3.2rem;
}

.section--home-header .button {
  margin-top: 0.8rem;
}

.section--home-header .button + .button {
  margin-left: 0.8rem;
}

.section--home-introduction .container {
  border-bottom: 0.2em dashed #E2E2E1;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section--home-introduction .container::after {
  clear: both;
  content: "";
  display: block;
}

.home-introduction--text {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
}

.home-introduction--image {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
  text-align: left;
}

.home-introduction--image img {
  display: block;
  width: 55%;
  margin: -3.2rem auto 0;
}

.section--home-quote .container {
  position: relative;
}

.section--home-quote .container::after {
  clear: both;
  content: "";
  display: block;
}

.home-quote--text {
  padding: 4.8rem 0;
  width: calc(66.66666667% - 33.33333333px);
  float: left;
  margin-left: 20px;
  color: #79CDC8;
  position: relative;
  z-index: 9;
}

.home-quote--text:last-child {
  text-align: right;
}

.home-quote--text .quote-body {
  font-size: 1.5625em;
}

.home-quote--clock {
  min-height: 1.6rem;
  width: calc(33.33333333% - 26.66666667px);
  float: left;
  margin-left: 20px;
}

.home-quote--clock img {
  position: absolute;
  bottom: 0;
  height: 110%;
  display: block;
}

.home-quote--megaphone {
  min-height: 1.6rem;
  width: calc(33.33333333% - 26.66666667px);
  float: left;
  margin-left: 20px;
}

.home-quote--megaphone img {
  position: absolute;
  height: 80%;
  top: 10%;
  right: 5%;
}

.section--home-stages {
  background-color: #333333;
  text-align: center;
  color: white;
}

.section--home-stages .section-subtitle {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.section--home-stages .container {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

.section--home-stages .stages-container::after {
  clear: both;
  content: "";
  display: block;
}

.section--home-stages .stages-container .stage-column {
  text-align: left;
  margin-top: 3.2rem;
}

.section--home-stages .stages-container .stage-column::after {
  clear: both;
  content: "";
  display: block;
}

@media screen and (min-width: 600px) {
  .section--home-stages .stages-container .stage-column {
    margin-top: 0;
    width: calc(33.33333333% - 26.66666667px);
    float: left;
    margin-left: 20px;
    text-align: center;
  }
}

.section--home-stages .stages-container .stage-column img {
  float: left;
  margin-right: 1.6rem;
}

@media screen and (min-width: 600px) {
  .section--home-stages .stages-container .stage-column img {
    margin: 3.2rem 0 0.8rem;
    float: none;
  }
}

.section--home-stages .stages-conclusion {
  margin: 3.2rem auto 0;
  padding: 1.6rem 3.2rem 0;
  border-top: 0.2em dashed #50565E;
}

.section--home-questions {
  background-color: white;
}

.section--home-questions .container {
  padding-top: 3.2rem;
}

.section--home-questions .container::after {
  clear: both;
  content: "";
  display: block;
}

.section--home-questions .tabs .tab label {
  font-weight: 700;
  color: #50565E;
  font-size: 1.25em;
}

.section--home-questions .tabs .tab [type=radio] {
  display: none;
}

@media screen and (min-width: 600px) {
  .section--home-questions .tabs {
    padding-bottom: 0;
    position: relative;
    min-height: 350px;
    clear: both;
    margin: 1.6rem 0;
  }

  .section--home-questions .tabs .content {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    padding: 0 0.8rem;
    opacity: 0;
  }

  .section--home-questions .tabs .tab,
  .section--home-questions .tab-image {
    width: 45%;
  }

  .section--home-questions .tabs .tab label {
    position: relative;
    cursor: pointer;
    margin-bottom: 0.8rem;
    left: -0.8rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
    -webkit-transition: color 150ms, -webkit-text-decoration 150ms;
    transition: color 150ms, -webkit-text-decoration 150ms;
    transition: color 150ms, text-decoration 150ms;
    transition: color 150ms, text-decoration 150ms, -webkit-text-decoration 150ms;
  }

  .section--home-questions .tabs .tab label:hover {
    color: #F5D0B7;
    text-decoration: underline;
  }

  .section--home-questions .tabs [type=radio]:checked ~ label {
    z-index: 2;
    color: #F5D0B7;
    text-decoration: underline;
  }

  .section--home-questions .tabs [type=radio]:checked ~ label ~ .content {
    z-index: 1;
    opacity: 1;
  }
}

.section--home-themes {
  background-color: #fff;
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

.section--home-themes .home-theme-title {
  margin-bottom: 0;
}

.section--home-themes .home-theme-date {
  color: #E2E2E1;
  margin-bottom: 0.8rem;
  font-size: 1.25em;
}

.section--home-themes .home-theme-item {
  counter-increment: theme;
  float: left;
  width: 20%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3%;
          flex: 0 0 33.3%;
  padding: 0.8rem 1.6rem;
  border-left: 0.15rem dashed #E2E2E1;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

@media screen and (min-width: 960px) {
  .section--home-themes .home-theme-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%;
  }
}

@media screen and (min-width: 1400px) {
  .section--home-themes .home-theme-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
}

.section--home-themes .home-theme-item:first-child {
  border-left: none;
}

.section--home-themes .home-theme-item::before {
  content: counter(theme);
  display: block;
  font-size: 3.81469727em;
  color: #E2E2E1;
  line-height: 3.2rem;
  padding-top: 3.2rem;
  margin-bottom: 1.6rem;
  background-position: right bottom;
  background-size: 4rem auto;
  background-repeat: no-repeat;
}

.section--home-themes .home-theme-item--safety::before {
  background-image: url(/images/theme-safety.svg);
}

.section--home-themes .home-theme-item--infrastructure::before {
  background-image: url(/images/theme-infrastructure.svg);
}

.section--home-themes .home-theme-item--skills::before {
  background-image: url(/images/theme-skills.svg);
}

.section--home-themes .home-theme-item--security::before {
  background-image: url(/images/theme-security.svg);
}

.section--home-themes .home-theme-item--jobs::before {
  background-image: url(/images/theme-jobs.svg);
}

.section--home-themes .home-theme-item--government::before {
  background-image: url(/images/theme-government.svg);
}

.section--home-interviews .container {
  padding-top: 6.4rem;
}

.section--home-interviews .container::after {
  clear: both;
  content: "";
  display: block;
}

.section--home-interviews .home-interviews-scroller {
  padding-top: 1.6rem;
}

.section--home-interviews .home-interviews-scroller::before {
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(#F2F4F4));
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #F2F4F4);
}

.section--home-interviews .home-interviews-scroller::after {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#F2F4F4));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #F2F4F4);
}

.section--home-interviews .home-interviews-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3%;
          flex: 0 0 33.3%;
  -ms-flex: 0 0 calc(33.3% - 2.1328rem);
      flex: 0 0 calc(33.3% - 2.1328rem);
  border: 1px solid #E2E2E1;
  border-radius: 0.4rem;
  margin-left: 1.6rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section--home-interviews .home-interviews-item:hover .home-interviews-image img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.section--home-interviews .home-interviews-item:hover .home-interviews-quote,
.section--home-interviews .home-interviews-item:hover .home-interviews-title {
  color: #F5D0B7;
}

.section--home-interviews .home-interviews-image {
  position: relative;
  display: block;
  overflow: hidden;
}

.section--home-interviews .home-interviews-image img {
  display: block;
  -webkit-transition: 450ms ease;
  transition: 450ms ease;
}

.section--home-interviews .home-interviews-image svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 4.8rem;
  -webkit-filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.7));
}

.section--home-interviews .home-interviews-title {
  font-size: 1em;
  text-align: right;
  font-weight: 400;
  margin-top: auto;
  padding: 0 2.4rem;
  line-height: 2.4rem;
  border-top: 0.15rem dashed #E2E2E1;
  margin-bottom: 0;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.section--home-interviews .home-interviews-quote {
  margin: 1.2rem 2.4rem;
  font-size: 1.25em;
  font-weight: 700;
  color: #79CDC8;
  line-height: 1.25;
  position: relative;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.section--home-interviews .home-interviews-quote::before,
.section--home-interviews .home-interviews-quote::after {
  opacity: .2;
  position: absolute;
  font-size: 2.44140625em;
  line-height: .85;
  display: inline-block;
}

.section--home-interviews .home-interviews-quote::before {
  content: '\201C';
  right: 100%;
  margin-right: 0.4rem;
}

.section--home-interviews .home-interviews-quote::after {
  content: '\201D';
  margin-left: 0.4rem;
}

.laravelLike-icon {
  position: relative;
  cursor: pointer;
  width: 2.08rem;
  height: 2.08rem;
  border-radius: 50%;
  border: .1rem solid;
  display: inline-block;
  padding: 0.26666667rem;
}

.laravelLike-icon svg {
  width: 100%;
  height: auto;
}

.laravelLike-icon.up {
  border-color: #79CDC8;
}

.laravelLike-icon.up svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.laravelLike-icon.up svg path {
  stroke: #79CDC8;
}

.laravelLike-icon.down {
  border-color: #F5D0B7;
}

.laravelLike-icon.down svg path {
  stroke: #F5D0B7;
}

.comment {
  display: block;
}

/*!
 * # Semantic UI 2.2.2 - Comment
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */

.ui.comments {
  margin: 1.5em 0;
  max-width: 650px;
}

.ui.comments:first-child {
  margin-top: 0;
}

.ui.comments:last-child {
  margin-bottom: 0;
}

.ui.comments .comment {
  position: relative;
  background: 0 0;
  margin: .5em 0 0;
  padding: .5em 0 0;
  border: none;
  border-top: none;
  line-height: 1.2;
}

.ui.comments .comment:first-child {
  margin-top: 0;
  padding-top: 0;
}

.ui.comments .comment .comments {
  margin: 0 0 .5em .5em;
  padding: 1em 0 1em 1em;
}

.ui.comments .comment .comments:before {
  position: absolute;
  top: 0;
  left: 0;
}

.ui.comments .comment .comments .comment {
  border: none;
  border-top: none;
  background: 0 0;
}

.ui.comments .comment .avatar {
  display: block;
  width: 2.5em;
  height: auto;
  float: left;
  margin: .2em 0 0;
}

.ui.comments .comment .avatar img,
.ui.comments .comment img.avatar {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: .25rem;
}

.ui.comments .comment > .content {
  display: block;
}

.ui.comments .comment > .avatar ~ .content {
  margin-left: 3.5em;
}

.ui.comments .comment .author {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
}

.ui.comments .comment a.author {
  cursor: pointer;
}

.ui.comments .comment a.author:hover {
  color: #1e70bf;
}

.ui.comments .comment .metadata {
  display: inline-block;
  margin-left: .5em;
  color: rgba(0, 0, 0, 0.4);
  font-size: .875em;
}

.ui.comments .comment .metadata > * {
  display: inline-block;
  margin: 0 .5em 0 0;
}

.ui.comments .comment .metadata > :last-child {
  margin-right: 0;
}

.ui.comments .comment .text {
  margin: .25em 0 .5em;
  font-size: 1em;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.3;
}

.ui.comments .comment .actions {
  font-size: .875em;
}

.ui.comments .comment .actions a {
  cursor: pointer;
  display: inline-block;
  margin: 0 .75em 0 0;
  color: rgba(0, 0, 0, 0.4);
}

.ui.comments .comment .actions a:last-child {
  margin-right: 0;
}

.ui.comments .comment .actions a.active,
.ui.comments .comment .actions a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.ui.comments > .reply.form {
  margin-top: 1em;
}

.ui.comments .comment .reply.form {
  width: 100%;
  margin-top: 1em;
}

.ui.comments .reply.form textarea {
  font-size: 1em;
  height: 12em;
}

.ui.collapsed.comments,
.ui.comments .collapsed.comment,
.ui.comments .collapsed.comments {
  display: none;
}

.ui.threaded.comments .comment .comments {
  margin: -1.5em 0 -1em 1.25em;
  padding: 3em 0 2em 2.25em;
  -webkit-box-shadow: -1px 0 0 rgba(34, 36, 38, 0.15);
          box-shadow: -1px 0 0 rgba(34, 36, 38, 0.15);
}

.ui.minimal.comments .comment .actions {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.ui.minimal.comments .comment > .content:hover > .actions {
  opacity: 1;
}

.ui.small.comments {
  font-size: .9em;
}

.ui.comments {
  font-size: 1em;
}

.ui.large.comments {
  font-size: 1.1em;
}

.ui.huge.comments {
  font-size: 1.2em;
}

.scroller-navigation button {
  position: absolute;
  top: 50%;
  border: none;
  background-color: #79CDC8;
  line-height: 1;
  left: -1.6rem;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 999;
  text-indent: -9999px;
  text-align: center;
  outline: none !important;
  -webkit-transition: opacity 600ms ease;
  transition: opacity 600ms ease;
}

.scroller-navigation button.hidden {
  opacity: 0.25;
  pointer-events: none;
}

.scroller-navigation button:focus {
  -webkit-box-shadow: 0 0 2px #50565E;
          box-shadow: 0 0 2px #50565E;
}

.scroller-navigation button::after {
  content: '';
  text-indent: 0;
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0;
  border: 0.53333333rem solid transparent;
  border-left-width: 0;
  border-right-color: white;
  border-right-width: 0.8rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transform: translate(-60%, -40%);
          transform: translate(-60%, -40%);
}

.scroller-navigation .scroller-next {
  left: auto;
  right: -1.6rem;
}

.scroller-navigation .scroller-next::after {
  border-right-color: transparent;
  border-right-width: 0.53333333rem;
  border-right-width: 0;
  border-left-color: white;
  border-left-width: 0.8rem;
  -webkit-transform: translate(-40%, -40%);
          transform: translate(-40%, -40%);
}

.scroller-outer {
  position: relative;
  margin-left: -3.2rem;
  margin-right: -3.2rem;
}

.scroller-outer::before,
.scroller-outer::after {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 99;
  top: 0;
  left: 0;
  width: 4.8rem;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.scroller-outer::after {
  right: 0;
  left: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.scroller-inner {
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  counter-reset: theme;
  cursor: -webkit-grab;
  cursor: grab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scroller-inner.grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.scroller-inner::-webkit-scrollbar {
  height: 0;
}

