button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #79CDC8;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:hover,
button:focus,
[type='button']:hover,
[type='button']:focus,
[type='reset']:hover,
[type='reset']:focus,
[type='submit']:hover,
[type='submit']:focus {
  background-color: #61a4a0;
  color: #fff;
}

button:disabled,
[type='button']:disabled,
[type='reset']:disabled,
[type='submit']:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:disabled:hover,
[type='button']:disabled:hover,
[type='reset']:disabled:hover,
[type='submit']:disabled:hover {
  background-color: #79CDC8;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

input,
select,
textarea {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
}

[type='color'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
input:not([type]),
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #EDEDED;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  width: 100%;
}

[type='color']:hover,
[type='date']:hover,
[type='datetime']:hover,
[type='datetime-local']:hover,
[type='email']:hover,
[type='month']:hover,
[type='number']:hover,
[type='password']:hover,
[type='search']:hover,
[type='tel']:hover,
[type='text']:hover,
[type='time']:hover,
[type='url']:hover,
[type='week']:hover,
input:not([type]):hover,
textarea:hover {
  border-color: #bebebe;
}

[type='color']:focus,
[type='date']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='email']:focus,
[type='month']:focus,
[type='number']:focus,
[type='password']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='text']:focus,
[type='time']:focus,
[type='url']:focus,
[type='week']:focus,
input:not([type]):focus,
textarea:focus {
  border-color: #79CDC8;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(102, 198, 192, 0.7);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(102, 198, 192, 0.7);
  outline: none;
}

[type='color']:disabled,
[type='date']:disabled,
[type='datetime']:disabled,
[type='datetime-local']:disabled,
[type='email']:disabled,
[type='month']:disabled,
[type='number']:disabled,
[type='password']:disabled,
[type='search']:disabled,
[type='tel']:disabled,
[type='text']:disabled,
[type='time']:disabled,
[type='url']:disabled,
[type='week']:disabled,
input:not([type]):disabled,
textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

[type='color']:disabled:hover,
[type='date']:disabled:hover,
[type='datetime']:disabled:hover,
[type='datetime-local']:disabled:hover,
[type='email']:disabled:hover,
[type='month']:disabled:hover,
[type='number']:disabled:hover,
[type='password']:disabled:hover,
[type='search']:disabled:hover,
[type='tel']:disabled:hover,
[type='text']:disabled:hover,
[type='time']:disabled:hover,
[type='url']:disabled:hover,
[type='week']:disabled:hover,
input:not([type]):disabled:hover,
textarea:disabled:hover {
  border: 1px solid #EDEDED;
}

[type='color']::-webkit-input-placeholder,
[type='date']::-webkit-input-placeholder,
[type='datetime']::-webkit-input-placeholder,
[type='datetime-local']::-webkit-input-placeholder,
[type='email']::-webkit-input-placeholder,
[type='month']::-webkit-input-placeholder,
[type='number']::-webkit-input-placeholder,
[type='password']::-webkit-input-placeholder,
[type='search']::-webkit-input-placeholder,
[type='tel']::-webkit-input-placeholder,
[type='text']::-webkit-input-placeholder,
[type='time']::-webkit-input-placeholder,
[type='url']::-webkit-input-placeholder,
[type='week']::-webkit-input-placeholder,
input:not([type])::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #969a9e;
}

[type='color']:-ms-input-placeholder,
[type='date']:-ms-input-placeholder,
[type='datetime']:-ms-input-placeholder,
[type='datetime-local']:-ms-input-placeholder,
[type='email']:-ms-input-placeholder,
[type='month']:-ms-input-placeholder,
[type='number']:-ms-input-placeholder,
[type='password']:-ms-input-placeholder,
[type='search']:-ms-input-placeholder,
[type='tel']:-ms-input-placeholder,
[type='text']:-ms-input-placeholder,
[type='time']:-ms-input-placeholder,
[type='url']:-ms-input-placeholder,
[type='week']:-ms-input-placeholder,
input:not([type]):-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #969a9e;
}

[type='color']::-ms-input-placeholder,
[type='date']::-ms-input-placeholder,
[type='datetime']::-ms-input-placeholder,
[type='datetime-local']::-ms-input-placeholder,
[type='email']::-ms-input-placeholder,
[type='month']::-ms-input-placeholder,
[type='number']::-ms-input-placeholder,
[type='password']::-ms-input-placeholder,
[type='search']::-ms-input-placeholder,
[type='tel']::-ms-input-placeholder,
[type='text']::-ms-input-placeholder,
[type='time']::-ms-input-placeholder,
[type='url']::-ms-input-placeholder,
[type='week']::-ms-input-placeholder,
input:not([type])::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #969a9e;
}

[type='color']::placeholder,
[type='date']::placeholder,
[type='datetime']::placeholder,
[type='datetime-local']::placeholder,
[type='email']::placeholder,
[type='month']::placeholder,
[type='number']::placeholder,
[type='password']::placeholder,
[type='search']::placeholder,
[type='tel']::placeholder,
[type='text']::placeholder,
[type='time']::placeholder,
[type='url']::placeholder,
[type='week']::placeholder,
input:not([type])::placeholder,
textarea::placeholder {
  color: #969a9e;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 0.75em;
  width: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F2F4F4;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #b2b2b2;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #EDEDED;
  padding: 0.75em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

body {
  color: #50565E;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

.page-title {
  font-size: 1.953125em;
  color: #79CDC8;
}

.section-title {
  font-size: 1.5625em;
  color: #79CDC8;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: #79CDC8;
  text-decoration: none;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}

a:active,
a:focus,
a:hover {
  color: #5b9a96;
}

hr {
  border-bottom: 1px solid #EDEDED;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

.masthead {
  background-color: #fff;
  line-height: 3em;
}

.masthead .site-title {
  font-weight: 700;
  text-transform: lowercase;
  font-size: 1.25em;
}

.container {
  padding: 0 1.5em;
  margin: 0 auto;
  max-width: 960px;
}

.site-footer {
  background-color: #50565E;
  padding: 1.5em;
  color: white;
  text-align: center;
}

.site-footer p:last-child {
  margin-bottom: 0;
}

.section--home-header .container {
  padding-top: 3em;
  padding-bottom: 3em;
  border-bottom: 0.2em dashed #EDEDED;
}

.page-title--home {
  text-align: center;
  margin-bottom: 0;
}

.section--home-introduction .container {
  border-bottom: 0.2em dashed #EDEDED;
  padding-top: 3em;
  padding-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section--home-introduction .container::after {
  clear: both;
  content: "";
  display: block;
}

.home-introduction--text {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
}

.home-introduction--image {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
  text-align: left;
}

.home-introduction--image img {
  display: block;
  width: 55%;
  margin: -3em auto 0;
}

.section--home-quote .container {
  position: relative;
}

.section--home-quote .container::after {
  clear: both;
  content: "";
  display: block;
}

.home-quote--text {
  padding: 4.5em 0;
  width: calc(66.66666667% - 33.33333333px);
  float: left;
  margin-left: 20px;
  color: #79CDC8;
  position: relative;
  z-index: 9;
}

.home-quote--text:last-child {
  text-align: right;
}

.home-quote--text .quote-body {
  font-size: 1.5625em;
}

.home-quote--clock {
  min-height: 1.5em;
  width: calc(33.33333333% - 26.66666667px);
  float: left;
  margin-left: 20px;
}

.home-quote--clock img {
  position: absolute;
  bottom: 0;
  height: 110%;
  display: block;
}

.home-quote--megaphone {
  min-height: 1.5em;
  width: calc(33.33333333% - 26.66666667px);
  float: left;
  margin-left: 20px;
}

.home-quote--megaphone img {
  position: absolute;
  height: 97.5%;
  top: -2.5%;
}

.section--home-stages {
  background-color: #333333;
  text-align: center;
  color: white;
}

.section--home-stages .section-subtitle {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.section--home-stages .container {
  padding-top: 6em;
  padding-bottom: 6em;
}

.section--home-stages .stages-container::after {
  clear: both;
  content: "";
  display: block;
}

.section--home-stages .stages-container .stage-column {
  text-align: left;
  margin-top: 3em;
}

.section--home-stages .stages-container .stage-column::after {
  clear: both;
  content: "";
  display: block;
}

@media screen and (min-width: 600px) {
  .section--home-stages .stages-container .stage-column {
    margin-top: 0;
    width: calc(33.33333333% - 26.66666667px);
    float: left;
    margin-left: 20px;
    text-align: center;
  }
}

.section--home-stages .stages-container .stage-column img {
  float: left;
  margin-right: 1.5em;
}

@media screen and (min-width: 600px) {
  .section--home-stages .stages-container .stage-column img {
    margin: 3em 0 0.75em;
    float: none;
  }
}

.section--home-stages .stages-conclusion {
  margin: 3em auto 0;
  padding: 1.5em 3em 0;
  border-top: 0.2em dashed #50565E;
}

.section--home-questions {
  background-color: white;
}

.section--home-questions .container {
  padding-top: 3em;
  padding-bottom: 3em;
}

.section--home-questions .container::after {
  clear: both;
  content: "";
  display: block;
}

.section--home-questions .tabs .tab label {
  font-weight: 700;
  color: #50565E;
  font-size: 1.25em;
}

.section--home-questions .tabs .tab [type=radio] {
  display: none;
}

@media screen and (min-width: 600px) {
  .section--home-questions .tabs {
    padding-bottom: 0;
    position: relative;
    min-height: 350px;
    clear: both;
    margin: 1.5em 0;
  }

  .section--home-questions .tabs .content {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    padding: 0 0.75em;
    opacity: 0;
  }

  .section--home-questions .tabs .tab {
    width: 45%;
  }

  .section--home-questions .tabs .tab label {
    position: relative;
    cursor: pointer;
    margin-bottom: 0.75em;
    left: -0.75em;
    padding: 0.75em;
    border-radius: 0.75em;
    -webkit-transition: color 150ms, -webkit-text-decoration 150ms;
    transition: color 150ms, -webkit-text-decoration 150ms;
    transition: color 150ms, text-decoration 150ms;
    transition: color 150ms, text-decoration 150ms, -webkit-text-decoration 150ms;
  }

  .section--home-questions .tabs .tab label:hover {
    color: #F5D0B7;
    text-decoration: underline;
  }

  .section--home-questions .tabs [type=radio]:checked ~ label {
    z-index: 2;
    color: #F5D0B7;
    text-decoration: underline;
  }

  .section--home-questions .tabs [type=radio]:checked ~ label ~ .content {
    z-index: 1;
    opacity: 1;
  }
}

.section--home-themes {
  background-color: #fff;
  padding-top: 6em;
  padding-bottom: 6em;
}

.section--home-themes .home-themes-scroller {
  position: relative;
  margin-left: 3em;
  margin-right: 3em;
}

.section--home-themes .home-themes-scroller::before,
.section--home-themes .home-themes-scroller::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 4.5em;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.section--home-themes .home-themes-scroller::after {
  right: 0;
  left: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.section--home-themes .home-themes-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 3em;
  padding-right: 3em;
  counter-reset: theme;
  cursor: -webkit-grab;
  cursor: grab;
}

.section--home-themes .home-themes-inner.grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section--home-themes .home-theme-item {
  counter-increment: theme;
  float: left;
  width: 20%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  padding: 0.75em 1.5em;
  border-left: 0.2rem dashed #EDEDED;
  margin-top: 3em;
  margin-bottom: 3em;
}

.section--home-themes .home-theme-item:first-child {
  border-left: none;
}

.section--home-themes .home-theme-item::before {
  content: counter(theme);
  display: block;
  font-size: 3.81469727em;
  color: #EDEDED;
}

