.section--home-header
  background-image: linear-gradient(-32deg, $peach 39%, $off-white 39%)
  .container
    height: calc(100vh - #{2 * $base-spacing})
    display: flex
    flex-direction: column
    justify-content: center
    @media screen and (min-width: $medium-screen)
      flex-direction: row


  .header-introduction
    flex: 0 0 auto
    margin-bottom: 2 * $base-spacing
    @media screen and (min-width: $medium-screen)
      margin: auto
      flex: 0 0 50%
    p:last-child
      margin-bottom: 0
  .header-image
    width: 100%
    flex: 0 0 30%
    @media screen and (min-width: $medium-screen)
      margin: auto
      flex: 0 0 50%
      padding-left: $small-spacing
    svg
      display: block
      margin: auto
      height: 100%
      width: 90%
      @media screen and (min-width: $medium-screen)
        height: auto
        width: 120%
        max-width: 47vw
  .button
    margin-top: $small-spacing
  .button + .button
    margin-left: $small-spacing




// .section--home-introduction
//   .container
//     @include clearfix
//     border-bottom: 1px dashed $light-gray
//     padding-top: 2 * $base-spacing
//     padding-bottom: 2 * $base-spacing
//     display: flex
//     flex-direction: row
//     align-items: center
//
// .home-introduction
//   &--text
//     @include grid-column(6)
//   &--image
//     @include grid-column(6)
//     text-align: left
//     img
//       display: block
//       width: 55%
//       margin: -2 * $base-spacing auto 0



.section--home-quote
  .container
    @include clearfix
    position: relative


.home-quote
  &--text
    padding: 3 * $base-spacing 0
    @include grid-column(10)
    @media screen and (min-width: $medium-screen)
      @include grid-column(8)
    color: $green
    position: relative
    z-index: 9
    &:last-child
      text-align: right
    .quote-body
      font-size: modular-scale(1)
      @media screen and (min-width: $medium-screen)
        font-size: modular-scale(2)
      margin-bottom: $small-spacing
      font-weight: 700
      line-height: $heading-line-height
      &::before, &::after
        // opacity: .2
        color: $light-green
        position: absolute
        font-size: modular-scale(4)
        line-height: .85
        display: inline-block
      &::before
        content: '“'
        right: 100%
        margin-right: $small-spacing/2
      &::after
        content: '”'
        margin-left: $small-spacing/2
    .quote-attribute
      color: $light-green

  &--clock
    min-height: $base-spacing
    @include grid-column(2)
    @media screen and (min-width: $medium-screen)
      @include grid-column(4)
    img
      position: absolute
      bottom: 0
      width: 6 * $base-spacing
      height: auto
      right: -2%
      @media screen and (min-width: $medium-screen)
        height: 107%
        width: auto
        right: auto

      display: block
  &--megaphone
    min-height: $base-spacing
    @include grid-column(2)
    @media screen and (min-width: $medium-screen)
      @include grid-column(4)
    img
      position: absolute
      right: -7.5%
      width: 50%
      height: auto
      top: 40%
      @media screen and (min-width: $medium-screen)
        height: 65%
        top: 25%
        right: -5%

      @media screen and (min-width: $large-screen)
        height: 100%
        top: 10%
        right: -10%

.section--home-stages
  background-color: $dark-gray
  text-align: center
  color: white
  .section-subtitle
    width: 80%
    margin-left: auto
    margin-right: auto
  .stage-heading
    font-size: modular-scale(1)
    @media screen and (min-width: $medium-screen)
      font-size: modular-scale(2)
  .container
    padding-top: 4 * $base-spacing
    padding-bottom: 4 * $base-spacing
  .stages-container
    @include clearfix
    margin: 1.5 * $base-spacing auto 0
    @media screen and (min-width: $medium-screen)
      margin: 0 auto
    @media screen and (min-width: $large-screen)
      max-width: 75%
    .stage-column
      text-align: left
      @include clearfix
      margin-top: $base-spacing
      @media screen and (min-width: $medium-screen)
        margin-top: 0
        @include grid-column(4)
        text-align: center

      img
        float: left
        width: 3 * $base-spacing
        margin-right: $small-spacing
        margin-left: $small-spacing
        margin-top: $small-spacing/2
        @media screen and (min-width: $medium-screen)
          margin: 2 * $base-spacing 0 $small-spacing
          float: none
  .stages-conclusion
    margin: 2 * $base-spacing auto 0
    padding: $base-spacing 2 * $base-spacing 0
    border-top: 1px dashed $medium-gray

.section--home-questions
  background-color: white
  .container
    @include clearfix
    padding-top: 2 * $base-spacing



.section--home-themes
  background-color: #fff
  padding-top: 4 * $base-spacing
  padding-bottom: 4 * $base-spacing
  .container
  .home-theme-title
    margin-bottom: 0
    margin-right: 2.5 *$base-spacing
  .home-theme-date
    color: $light-gray
    margin-bottom: $small-spacing
    font-size: modular-scale(1)
  .home-theme-item
    counter-increment: theme
    float: left
    width: 20%
    flex: 0 0 100%
    position: relative
    padding: $small-spacing $small-spacing
    border-left: 1px dashed $light-gray
    margin-top: 2 * $base-spacing
    margin-bottom: 2 * $base-spacing

    @media screen and (min-width: $medium-screen)
      flex: 0 0 50%
    @media screen and (min-width: $large-screen)
      flex: 0 0 33.3%
      padding: $small-spacing $base-spacing
    @media screen and (min-width: $xl-screen)
      flex: 0 0 25%

    &:first-child
      border-left: none
      // margin-left: $base-spacing

    .home-theme-icon
      position: absolute
      right: 0
      top: 0
      height: 2 * $base-spacing
      width: 2 * $base-spacing
    // &::before
    //   content: counter(theme)
    //   display: block
    //   font-size: modular-scale(6)
    //   color: $light-gray
    //   line-height: 2 * $base-spacing
    //   padding-top: 2 * $base-spacing
    //   margin-bottom: $base-spacing
    //   background-position: right bottom
    //   background-size: #{2.5 * $base-spacing} auto
    //   background-repeat: no-repeat
    // &--safety::before
    //     background-image: url(/images/theme-safety.svg)
    // &--infrastructure::before
    //     background-image: url(/images/theme-infrastructure.svg)
    // &--skills::before
    //     background-image: url(/images/theme-skills.svg)
    // &--security::before
    //     background-image: url(/images/theme-security.svg)
    // &--jobs::before
    //     background-image: url(/images/theme-jobs.svg)
    // &--government::before
    //     background-image: url(/images/theme-government.svg)

.section--home-interviews
  .container
    @include clearfix
    padding-top: 4 * $base-spacing
  .home-interviews-scroller
    padding-top: $base-spacing
  .home-interviews-scroller::before
    background: linear-gradient(to left,rgba(255,255,255,0), $off-white)
  .home-interviews-scroller::after
    background: linear-gradient(to right,rgba(255,255,255,0), $off-white)