.theme-header
  background-color: $medium-gray
  background-image: radial-gradient(circle at center, $medium-gray 0%,$dark-gray)
  color: white
  margin-bottom: $base-spacing

.container--theme
  padding-top: 3 * $base-spacing
  padding-bottom: 3 * $base-spacing
  display: flex
  flex-direction: row
  align-items: center


.theme-title
  font-size: modular-scale(4)
  color: $peach
  margin-bottom: $base-spacing

.theme-date
  font-size: modular-scale(1)
  color: $light-gray
  margin-bottom: $small-spacing

.theme-icon
  flex: 0 0 25%
  margin-right: 2 * $base-spacing
  margin-left: 3 * $base-spacing

.theme-summary
  margin-right: 3 * $base-spacing

.theme-description
  font-size: modular-scale(1)

.theme-whitepaper
  background-color: #fff
  margin-top: -$base-spacing
  margin-bottom: $base-spacing
  padding-top: 2 * $base-spacing
  padding-bottom: 2 * $base-spacing
  .container
    display: flex
    flex-direction: row
    align-items: center



.whitepaper-title
  font-size: modular-scale(3)
  margin-bottom: $base-spacing
  font-weight: 700

.whitepaper-wrapper
  background-color: #fff
  margin: 2 * $base-spacing auto
  padding: 6 * $base-spacing 4 * $base-spacing
  ol,li
    list-style-type: square

.whitepaper-icon
  flex: 0 0 25%
  margin-right: 2 * $base-spacing
  margin-left: 3 * $base-spacing


.whitepaper-summary
  margin-right: 3 * $base-spacing

.whitepaper-body-summary
  font-size: modular-scale(1)
  font-weight: 700
  margin-bottom: 2 * $base-spacing


.draft-title
  display: inline-block
  background-color: white
  color: $peach
  font-size: modular-scale(2)
  padding: 0 $small-spacing
  margin-bottom: $small-spacing
  text-transform: uppercase
  font-weight: 700

.draft-description
  font-size: modular-scale(1)

.draft-pdf
  margin-top: $base-spacing


.theme-card-item
  display: flex !important
  flex-direction: row
  padding: $base-spacing
  align-items: center
  .card-inner p:last-child
    margin-bottom: 0


.theme-card-item-icon
  width: 4 * $base-spacing
  float: left
  margin-right: $base-spacing

